@{
    ViewData["Title"] = "Técnicas de Programação - Curso Desenvolvimento de Sistemas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
</br>
<ol>
    <li>
        Receba o fdsfdfsf de 6 colegas da sala de aula e imprima  “Olá o nome do colega!”
    </li>
    </br>
    <li>
        Receba dsfdfdsf nome, telefone e e-mail. Exibir todos os dados fornecidos concantenados. Repita esse processo sempre que o usuário digitar que quer continuar com a letra S.
    </li>
    </br>
    <li>
        Receba o nome de 10 vendedores e calcule a média dos salários. Exibir no console o nome de todos os vendedores e a média salarial no final da exibição.
    </li>
    <li>
        Receba 5 números, aceite somente números pares para o calculo da média. Exiba todos os números lidos, inclusive os não pares e exiba a média no console.
    </li>
    <li>
        Desenvolva um algoritmo que calcule o IMC de uma determinada pessoa, e grave os resultados em um arquivo de texto, onde ao acessar a aplicação será solicitado se quer fazer um novo cadastro ou consultar os existentes. Cadastrando um novo calculo de IMC, será necessário informar o nome, idade, peso e altura. O cálculo do IMC é feito dividindo o peso (em quilogramas) pela altura (em metros) ao quadrado
    </li>
    <li>
        Elabore um algoritmo que, dada a idade de um nadador, classifique-o em uma das seguintes categorias:
        ·         Infantil A: 5 a 7 anos;
        ·         Infantil B: 8 a 10
        ·         anos;
        ·         Juvenil A: 11 a 13 anos;
        ·         Juvenil B: 14 a 17 anos;
        ·         Sênior: maiores de 18 anos.
    </li>
    <li>
        Faça um programa que solicite ao usuário 10 números inteiros e, ao final, informe a quantidade de números ímpares e pares lidos. Calcule também a soma dos números pares e a média dos números ímpares.
    </li>
    <li>
        Foi realizada uma pesquisa com 200 pessoas que assistiram uma peça de teatro, em   relação a sua opinião sobre a mesma. Cada espectador respondeu a um questionário que solicitava os seguintes dados:
        idade da pessoa;
        o identificador da pessoa;
        opinião em relação à peça(de 0 a 10).
        Faça um programa que, a partir destes dados, calcule e imprima:
        a.	A quantidade de respostas 10.
        b.	A média de idade das pessoas que responderam o questionário.
        c.	A percentagem de pessoas que responderam 5 ou menos para a opinião da peça.
        d.	O identificador da pessoa mais velha.
        * Considere que a maior idade não é repetida.

    </li>
    <li>
        Foi feita uma pesquisa para saber o perfil dos alunos que cursam o ginásio de uma determinada escola. Cada aluno fornecia a sua série (primeira-1, segunda-2, terceira-3 ou quarta-4), quantos livros liam por mês e se gostavam de fazer redação (Sim-1 ou Não-0). Fazer um programa que leia os dados, calcule e imprima:
        •	A quantidade de alunos que está na terceira série;
        •	A maior quantidade de livros lidos por um aluno que está na quarta série;
        •	A porcentagem de alunos que não gostam de fazer redação e que estão na terceira série.
        OBS: A condição de parada (flag) é que seja digitado 0 (zero) para idade.

    </li>

</ol>
