@model TP0001.Models.AlunoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlunoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

       
    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
